{% extends 'base.html.twig' %}

{% block title %}Nous contacter - OM Sport{% endblock %}

{% block content %}
    <h2>Nous contacter</h2>
    <p>N'hésitez pas à prendre contact avec notre équipe, nous vous répondrons dans les meilleurs délais.</p>

    {% for message in app.flashes('notice') %}
        <div class="alert alert-info">
            {{ message }}
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-md-8">
            {{ form(form) }}
        </div>
        <div class="col-md-4">
            <strong></strong>
            <hr/>
            +216 75 451 222<br/>
            55 rue de Taieb M'hiri 2020 Sidi Thabet, Ariana <br/>
            contact@OmSport.tn<br/>

        </div>

    </div>

{% endblock %}
